#header{
    background-color:darkolivegreen;
    color:black;
    text-align:left;
    font-family:sans-serif,Arial;
}

#section{
    background-color:lightgray;
    color:black;
    text-align:left;
    font-family:sans-serif,Arial;
}